[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/rollup-encoder"]
	path = lib/rollup-encoder
	url = https://github.com/AztecProtocol/rollup-encoder
